<nav class="navbar navbar-expand-lg header">
  <div class="container block">
    <a routerLink="/events" class="navbar-brand" style="color: aliceblue; font-size: x-large;">Browse Events</a>
    <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <a routerLink="/bookings"class="navbar-brand" (click)="fetchBookings()" style="color: aliceblue; font-size: x-large; margin-right: 50%;">My Bookings</a>
    <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <a href="" class="navbar-brand" (click)="onLogOut()" style="color: aliceblue; font-size: x-large;">Log out</a>
    <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
  </div>
</nav>
