<div class="event_detail border-2 bgc-white w-100 shadow-sm">
  <div class="row" >
    <div class="col-ms-12" style=" padding-bottom:10px; text-align: center; font-size: x-large; color: aliceblue;">{{event.name}}</div>
    <div class="col-ms-12" style="text-align: start; font-size: x-large; color: aliceblue; padding-left: 30px; padding-bottom: 15px;" >{{event.description}}</div>
    <div class="col" style="text-align: start; font-size: larger; color: aliceblue; padding-left: 30px; padding-bottom: 15px;">Ticket options:</div>
    <div class="col-ms-12" style="padding-left: 35px; padding-right: 35px; padding-bottom: 20px; padding-top: 10px;">
      <ol class="list-group">
        <a class="list-group-item d-flex justify-content-between align-items-start" style="cursor: pointer; width: 100%; background-color: rgba(241, 194, 241, 0.7); "
        *ngFor="let item of event.ticketsCategory" (click)="Pick(item)">
          <div class="ms-2 me-auto">
            <div class="fw-bold">
              {{item.name}}
            </div>
            {{item.description}}
          </div>
          <div style="margin-right: 50px; color: aliceblue; font-size: medium; font-weight: bolder;">Price: {{item.price}} RSD</div>
          <div style="color: darkblue; padding-right: 5px; font-size: medium; font-weight: bold;">Seats left</div>
          <span class="badge rounded-pill" style="background-color: darkblue;">{{item.maxSeats-item.occupiedSeats}}</span>
        </a>
      </ol>
    </div>
    <div class="col-7" style="padding-left:25px; padding-bottom: 15px;">
      <label style="color: aliceblue; font-size: larger; font-weight: 600; padding-bottom: 10px;">Selected seats: {{lastPicked.name}}</label>
      <label style="color: aliceblue; font-size: larger; font-weight: 600; padding-bottom: 5px;">How many tickets:</label>
      <input type="number" id="amount" class="form-control" value="1" #amountInput>
    </div>
    <div class="col-4" style="padding-top: 30px;">
      <button class="btn btn-primary" (click)="Calculate(amountInput.value)" style="width: 80%; background-color: rgba(121, 27, 137, 0.7); border-width: 0;">Calculate</button>
      <label style="color: aliceblue; font-size: larger; font-weight: 600; padding-top: 10px; padding-left: 5px;">Your total: {{total}}</label>
    </div>
    <div class="col-6" style="padding: 20px; display: flex; justify-content: center; align-items: center;">
      <button class="btn btn-primary" (click)="onConfirm(amountInput.value)" style="align-self: center; width: 50%; background-color: rgba(121, 27, 137, 0.7); border-width: 0;">Buy</button>
    </div>
    <div class="col-6" style="padding: 20px; display: flex; justify-content: center; align-items: center;">
      <button class="btn btn-primary" (click)="onBook(amountInput.value)" style="align-self: center; width: 50%; background-color: rgba(121, 27, 137, 0.7); border-width: 0;">Book</button>
    </div>
  </div>
</div>

<div *ngIf="errorOcured" class="alert alert-danger" role="alert">
  {{error}}
</div>
