<a
  class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm"
  [routerLink]="[index]"
  style="margin-top: 0!important; cursor: initial;">
    <div class="row align-items-center">
      <div class="col-12 col-md-4">
        <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
          {{event.name}}
        </h4>

        <div class="text-secondary-d1 text-120" style="margin-right: 10px;">
          <span class="ml-n15 align-text-bottom"></span><span class="text-180"
          ></span>
        </div>
      </div>

      <ul class="list-unstyled mb-0 col-12 col-md-5 text-dark-l1 text-90 text-left my-4 my-md-0" style="padding-left: 15px;">

        <li class="mt-25">
          <i class="fa fa-times text-danger-m3 text-110 mr-25 mt-1"></i>
        </li>

        <li class="mt-25">
          <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
          <span class="text-110">
            Place: {{event.place.name}}
        </span>
        </li>

        <li class="mt-25">
          <i class="fa fa-times text-danger-m3 text-110 mr-25 mt-1"></i>
          <span class="text-110">
            Type of event:  {{event.eventType.name}}
        </span>
        </li>
      </ul>


    </div>
</a>
<div class="col-12 col-md-3" style="margin-left: 0;">
  <button type="button" class="f-n-hover btn  btn-info btn-raised px-3 py-25 w-75 text-600" style="margin: 0px" (click)="onDelete()" routerLink="/my-events" >Remove event</button>
</div>
